# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100*
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Editor / IDE
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
